@media screen and (max-width:676px) {
    .nav-container {
            display: flex;
            flex-direction: column;
        }
        .nav-1{
            display: flex;
            justify-content: center;
        }
        .navigation-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .banner-cat, .text-container p{
            font-size: 2rem;
        }
        .icons{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
.btn-primary2 {
    border: 2px solid violet;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    font-family: "Dancing Script", cursive;
}
}
