/* font style link start */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font style link end */
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start navbar styles */
header{
    background-color: #9376e0;
}
.nav-container{
    max-width: 1300px;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-1{
    width: 50%;
    display: flex;
    align-items: center;
}
.shop{
    color: #e893cf;
    font-weight: 900;
}
.nav-1 i{
    font-size: 2rem;
}
/* navbar part-2 styles */
.navigation-link{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.navigation-link a{
    text-decoration: none;
    color: #fff;  
}
.btn-primary{
    border: none;
    background-color: #e893cf;
    border-radius: 5px;
    padding: 7px 17px;
    color: white;
    font-size: 1rem;
}
/* banner section start styles here*/
.banner-section{
    max-width: 1300px;
    /* border:2px red solid; */
   min-height: 400px;
    margin: 0 auto;
    display: flex;
    background-color: #e6e9e6;
    border-radius: 8px;
    margin-top: 10px;
        padding: 20px;
}
.text-container{
    width: 50%;
    /* border: 2px solid black; */
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
.banner-cat{
    background: linear-gradient(to bottom, #e893cf, #9376e0);
    background-clip: text;
    color: transparent;
}
.text-container p{
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}
.icons{
    display: flex;
    gap: 10px;
}
.banner-image-container{
    width: 50%;
    /* border: 2px solid black; */
    height: 400px;
    position: relative;
}
.banner-image-container img{
    width: 100%;
    height: 400px;
    border-radius: 8px;
}
.discount{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 44, 44);
    border: 3px solid #fff;
    position: absolute;
    bottom: 75%;
    left: 70%;
    font-size: 1.5rem;
    color: #fff;
}
.btn-primary2{
    border:2px solid violet;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Dancing Script", cursive;
}
/* banner section end styles here*/


/* product section end styles here*/
.product-section{
    /* border: 2px solid red; */
    max-width: 1300px;
    margin: 0 auto;
}
.grid-container{
        /* border: 2px solid red; */
        /* min-width: 400px; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
}

.single-product{
        /* border: 2px solid black; */
        /* width: 30%; */
        padding: 20px;
        background-color: #e6e9e6;
        border-radius: 8px;
}
.single-product img{
    width: 70%;
    margin: 0 auto;
    display: block;
    border-radius: 8px;

}
.iconss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.icon{
    background-color: #8c6be6;
    border-radius:8px;
    font-size: 1.7rem;
    color: #e6e9e6;
    padding: 2px;
}
/* product section end styles here*/